<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--
    <servlet>
        <servlet-name>DServlet</servlet-name>
        <servlet-class>com.my.servlet.DServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DServlet</servlet-name>
        <url-pattern>/DServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>com.my.servlet.AServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
-->
    <!--<servlet>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<servlet-class>cn.seecu.bookstore.servlet.LoginServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<url-pattern>/LoginServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>RegistServlet</servlet-name>-->
        <!--<servlet-class>cn.seecu.bookstore.servlet.RegistServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>RegistServlet</servlet-name>-->
        <!--<url-pattern>/RegistServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>cn.seecu.bookstore.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookManagerServlet</servlet-name>
        <servlet-class>cn.seecu.bookstore.servlet.BookManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookClientServlet</servlet-name>
        <servlet-class>cn.seecu.bookstore.servlet.BookClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookClientServlet</servlet-name>
        <url-pattern>/BookClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookManagerServlet</servlet-name>
        <url-pattern>/manager/BookManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <!-- 设置验证码的图片边框 -->
        <init-param>
            <param-name>kaptcha.border</param-name>
            <param-value>yes</param-value>
        </init-param>
        <!-- 设置验证码图片的宽度 -->
        <init-param>
            <param-name>kaptcha.image.width</param-name>
            <param-value>200</param-value>
        </init-param>
        <!-- 设置验证码图片的高度 -->
        <init-param>
            <param-name>kaptcha.image.height</param-name>
            <param-value>50</param-value>
        </init-param>
        <!-- 设置验证码图片的使用的字符 -->
        <init-param>
            <param-name>kaptcha.textproducer.char.string</param-name>
            <param-value>abcde23458fynmpwx</param-value>
        </init-param>
        <!-- 设置验证码字符间距  -->
        <init-param>
            <param-name>kaptcha.textproducer.char.space</param-name>
            <param-value>6</param-value>
        </init-param>
        <!-- 设置在session域中存储的key -->
        <init-param>
            <param-name>kaptcha.session.key</param-name>
            <param-value>code</param-value>
        </init-param>
        <!-- 设置验证码中字符的数量 -->
        <init-param>
            <param-name>kaptcha.textproducer.char.length</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>cn.seecu.bookstore.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/code.jpg</url-pattern>
    </servlet-mapping>




</web-app>